
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Login</h3>
</div>

<div class="modal-body">
  <%= form_for(:session, url: login_path, role: "form") do |f| %>
    <div id="login-form">
      <div>
        <%= f.label :username, class: "login-username" %>
        <%= f.text_field :username, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label :email_address, class: "login-email" %>
        <%= f.email_field :email_address, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password, class: "login-password" %>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <%= f.hidden_field :role %>
      <%= f.submit "Submit", id: "small_submit_button", class: "btn" %>
    </div>
  <% end %>
</div>



