<div id="menu">
  <div>
    <% @listings.each do |listing| %>
      <div class="container">
        <div class="row middle">
          <%= link_to listing do %>
          <div class="left">

            <h4 class="listing-title"><%= listing.title %></h4>
            <figure><%= image_tag "default.jpg", class: "photo" %></figure>
          </div>
          <div class="right">
            <p class="listing-description"><%= listing.description %></p>
            <h3 class="listing-price">$<%= listing.price %></h3>
          </div>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
