<%= cache(cache_key_for(Listing)) do %>
  <div id="menu">
  <div>
    <% @listings.each do |listing| %>
      <%= cache(listing) do %>
        <%= link_to listing do %>
          <div class="container">
            <div class="row middle">
              <h4 class="listing-title"><%= listing.title %></h4>
              <div class="left">
                <%= cache("image") do %>
                <figure><%= image_tag listing.pictures.first.avatar_url, class: "photo" %></figure>
              <% end %>
              </div>
              <div class="right">
              <p class="listing-description"><%= listing.description %></p>
              <div class="local">
                <h4 class="listing-city"><%= listing.city %></h4>
                <h4 class="state"><%= listing.state %></h4>
              </div>
                <h3 class="listing-price">$<%= listing.price %></h3>
                <ol id="stars">
                  <% rand(1..5).times do %>
                    <li class="stars"><span class="glyphicon glyphicon-star smaller" aria-hidden="true"></span></li>
                  <% end %>
                </ol>
              </div>
            <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="paginate">
        <%= will_paginate @listings %>
      </div>
  </div>
  </div>
<% end %>
