<div id="menu">
  <div>
    <% @listings.each do |listing| %>
      <div class="container">
        <div class="row middle">
          <div class="left">

            <h4 class="listing-title"> <%= link_to listing.title, listing %> </h4>
            <figure><%= image_tag "default.jpg", class: "photo" %></figure>
          </div>
          <div class="right">
            <p><%= link_to "Add Listing", cart_path, method: :create %>
            <p class="listing-description"><%= listing.description %></p>
            <h3 class="listing-price">$<%= listing.price %></h3>
            <p class="listing-calendar">dates</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
