<div id="menu">
  <div>
    <% @listings.each do |listing| %>
     <%= link_to listing do %>
      <div class="container">
        <div class="row middle">
          <div class="left">

            <h4 class="listing-title"><%= listing.title %></h4>
            <figure><%= image_tag "default.jpg", class: "photo" %></figure>
          </div>
          <div class="right">
            <p class="listing-description"><%= listing.description %></p>
            <h3 class="listing-price">$<%= listing.price %></h3>
            <ol id="stars">
              <% rand(1..5).times do %>
                <li><a class="stars"><span class="glyphicon glyphicon-star smaller" aria-hidden="true"></span></a></li>
              <% end %>
            </ol>
          </div>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
