  <% if !current_user.nil? && current_user.admin? %>
   <%= link_to "Back to listings", admin_listings_path, class: "btn backb btn-small"  %>
  <% else %>
   <%= link_to "Back to listings", listings_path, class: "btn backb btn-small" %>
  <% end %>

<div id="listing-show">

  <section class="left">
   <h1 id="listing-title"><%= @listing.title %></h1>
  <a href="#photo" type="button" data-toggle="modal"><%= image_tag "default.jpg", class: "photo" %></a>
 </section>

  <section class="right">
    <p id="listing-description"><%= @listing.description %></p>
    <p id="listing-price"><%= number_to_currency(@listing.price) %></p>

    <section id="calendar">
      <%= render partial: "calendar" %>
    </section>
  </section>

 <section class="bottom">
   <% if @listing.categories.first %>
      <h3><span class="glyphicon glyphicon-home" aria-hidden="true"></span><%= listing @listing.categories.first.name %></h3>
   <% end %>
   <% if @listing.private_bathroom %>
      <h3><span class="glyphicon glyphicon-tint" aria-hidden="true"></span>Private</h3>
    <% else %>
      <h3><span class="glyphicon glyphicon-tint" aria-hidden="true"></span>Shared</h3>
    <% end %>
   <h3><span class="glyphicon glyphicon-user" aria-hidden="true"><%= @listing.people_per_unit %></h3>
  </section>

 </div>

 <div class="modal fade" id="photo" role="dialog">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-body">
       </div>
       <div class="modal-footer">
         <a class = "btn" data-dismiss="modal">close</a>
       </div>
     </div>
   </div>
 </div>
