<% if !current_user.nil? && current_user.admin? %>
  <%= link_to "Back to listings", admin_listings_path, class: "btn backb btn-small"  %>
<% else %>
  <%= link_to "Back to listings", listings_path, class: "btn backb btn-small" %>
<% end %>

<div id="listing-show">

  <section class="left">
    <h1 id="listing-title"><%= @listing.title %></h1>

    <div class="listing-photo">
      <% @listing.pictures.each do |pic| %>
        <%= image_tag pic.avatar_url, class: "avatar-pic" %>
      <% end %>
    </div>
  </section>

  <section class="right">
    <p id="listing-description"><%= @listing.description %></p>
    <p id="listing-price"><%= number_to_currency(@listing.price) %></p>

    <section id="calendar">
      <%= render partial: "calendar" %>
    </section>
  </section>

  <%= render partial: "show_details" %>

</div>



