<% if !current_user.nil? && current_user.admin? %>
  <%= link_to "Back to listings", admin_listings_path, class: "btn backb btn-small"  %>
<% else %>
  <%= link_to "Back to listings", listings_path, class: "btn backb btn-small" %>
<% end %>

<div id="listing-show">

  <section class="left">
    <div class="listing-photo">
      <ol>
       <li><%= image_tag @listing.pictures.first.avatar_url, class: "photo" %></li>
      <% @listing.pictures.each do |pic|%>
        <li class="hidden"><%= image_tag pic.avatar_url, class: "photo" %></li>
      <% end %>
      </ol>
    </div>
    <h1 id="listing-title"><%= @listing.title %></h1>
  </section>

  <section class="right">
    <p id="listing-price"><%= number_to_currency(@listing.price) %></p>
    <p id="listing-description"><%= @listing.description %></p>

    <section id="calendar">
      <%= render partial: "calendar" %>
    </section>
  </section>

  <%= render partial: "show_details" %>

</div>

<div class="modal" id="modal-gallery" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal">×</button>
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body">

        </div>
      </div>
    </div>
  </div>
</div>
