<% if !current_user.nil? && current_user.admin? %>
  <%= link_to "Back to listings", admin_listings_path, class: "btn backb btn-small"  %>
<% else %>
  <%= link_to "Back to listings", listings_path, class: "btn backb btn-small" %>
<% end %>

<div id="listing-show">

  <section class="left">
    <h1 id="listing-title"><%= @listing.title %></h1>
    <a href="#modal-gallery" type="button" data-toggle="modal"><%= image_tag "default.jpg", class: "photo" %></a>
  </section>

  <section class="right">
    <p id="listing-description"><%= @listing.description %></p>
    <p id="listing-price"><%= number_to_currency(@listing.price) %></p>

    <section id="calendar">
      <%= render partial: "calendar" %>
    </section>
  </section>

  <%= render partial: "show_details" %>

</div>

<div class="hidden" id="img-repo">
  <div class="listing-photo">
    <%= image_tag @listing.pictures.first.url, class: "thumbnail" %>
  </div>
</div>

<div class="modal" id="modal-gallery" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal">×</button>
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body">
        <div id="modal-carousel" class="carousel">

          <div class="carousel-inner">
          </div>

          <a class="carousel-control left" href="#modal-carousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
          <a class="carousel-control right" href="#modal-carousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>

        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

