<%= nav_bar static: :top, responsive: true do %>
<div class="row">
  <div class="col-md-1 logo">
    <a href="/admin"><%= image_tag "toasted_logo.png" %></a>
  </div>

  <div class="col-md-7 col-md-offset-2 navbar">
    <ul class="nav nav-tabs" role="tablist">
      <li>
        <% if current_user %>
          <%= link_to "Log out", logout_path, method: :delete, class: 'btn btn-link btn-md active' %>
        <% else %>
          <%= link_to "Log in", login_path, class: 'btn btn-link btn-md active' %>
        <% end %>
      </li>
      <li><%= link_to "Manage Categories", admin_categories_path, class: 'btn btn-link btn-md active' %></li>
      <li><%= link_to "Manage Items", admin_items_path, class: 'btn btn-link btn-md active' %></li>
      <li><%= link_to "Manage Orders", admin_orders_path, class: 'btn btn-link btn-md active' %></li>
    </ul>
  </div>
</div>

<% end %>
