<%= form_for [:admin, @order] do |f| %>
<div id="completed" class="radio">
   <%= f.radio_button(:status, "completed") %>
   <%= f.label(:status, "Complete") %>
 </div>
 <div id="cancelled" class="radio">
   <%= f.radio_button(:status, "cancelled") %>
   <%= f.label(:status, "Cancel") %>
 </div>
   <%= f.submit "Submit", class: "submit" %>
 <% end %>
