<%= form_for([:host, @listing], :html => { :multipart => true }) do |f| %>
  <%= render "shared/errors", object: current_user %>
  <div id="new-listing-form">
    <div>
      <%= f.label :title, class: "listing-title" %>
      <%= f.text_field :title, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :description, class: "listing-email"%>
      <%= f.text_field :description, class: "form-control" %>
    </div>
    <div class="form-group">
      Choose a Category
      <%= f.radio_button(:categories, "house") %>
      <%= f.label(:categories, "house") %>
      <%= f.radio_button(:categories, "condo") %>
      <%= f.label(:categories, "condo") %>
      <%= f.radio_button(:categories, "teepee") %>
      <%= f.label(:categories, "teepee") %>
      <%= f.radio_button(:categories, "mansion") %>
      <%= f.label(:categories, "mansion") %>
      <%= f.radio_button(:categories, "cabin") %>
      <%= f.label(:categories, "cabin") %>
    </div>
    <div id="private" class="radio">
      <%= f.radio_button(:private_bathroom, "private") %>
      <%= f.label(:private_bathroom, "private_bathroom") %>
    </div>

    <div id="shared" class="radio">
      <%= f.radio_button(:private_bathroom, "shared") %>
      <%= f.label(:private_bathroom, "Shared_bathroom") %>
    </div>
    </br>
    <div class="form-group">
      <%= f.label :price, class: "listing-price"%>
      <%= f.number_field :price, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :quantity_available, class: "listing-quantity_available"%>
      <%= f.number_field :quantity_available, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :people_per_unit, class: "listing-people_per_unit"%>
      <%= f.number_field :people_per_unit, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :street_address, class: "listing-street_address"%>
      <%= f.text_field :street_address, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :city, class: "listing-city"%>
      <%= f.text_field :city, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :state, class: "listing-state"%>
      <%= f.text_field :state, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :country, class: "listing-country"%>
      <%= f.text_field :country, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :zipcode, class: "listing-zipcode"%>
      <%= f.text_field :zipcode, class: "form-control" %>
    </div>
    <div class="form-group">Available Dates
      <%= render partial: "calendar" %>
    </div>
    <div class="form-group">
      <figure class="default-pic">
        <%= image_tag @listing.pictures.last.avatar %>
      </figure>
    </div>
    <div>
      <%= f.fields_for :pictures do |p| %>
        <div class="field">
          <%= p.label :avatar %><br>
          <%= p.file_field :remote_avatar_url, :multiple => true, name: "pictures[avatar][]" %>
        </div>
      <% end %>
    </div>
    <%= f.submit "Submit New Listing", id: "submit_button-listing", class: "btn" %>
  </div>
          </br></br></br></br></br>
        <% end %>
