<%= link_to "Back to Items", items_path, class: "btn btn-info btn-small active" %>
<!-- <a class="btn btn-info btn-small active" href="/items">Back to Items</a> -->

<h3 id="order-title"><%= current_user.username %>'s Orders</h3>

<div id="order-history">
  <% @orders.each do |order| %>

    <table class = "table table-striped">
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
      </tr>

      <% order.items_with_quantity.each do |item, quantity|%>
        <tr>
          <td><%= link_to item.name, item_path(item) %></td>
          <td><%= quantity %></td>
          <td><%= number_to_currency(item.price) %></td>
          <td><%= number_to_currency(order.line_item_total(item, quantity)) %></td>
        </tr>
      <% end %>

      <tfoot>
        <tr>
          <td colspan="1">Status: <%= order.status %></td>
          <td colspan="3">Updated: <%= time_ago_in_words(order.updated_at) %> ago</td>
        </tr>
        <tr>
          <td colspan="4" class="total">Order Total: <%= number_to_currency(order.total) %></td>
        </tr>
      </tfoot>
    </table>
  <% end %>
</div>
