
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Sign Up</h3>
</div>

<div class="modal-body">

  <%= form_for(:user, url: users_path) do |f| %>
    <%= render "shared/errors", object: @user %>
    <div id="login-form">
      <div>
        <%= f.label :username, class: "register-username" %>
        <%= f.text_field :username, class: "form-control", required: true %>
      </div>
      <div class="form-group">
        <%= f.label :email_address, class: "register-email" %>
        <%= f.email_field :email_address, class: "form-control", required: true %>
      </div>
      <div class="form-group">
        <%= f.label :password, class: "register-password"%>
        <%= f.password_field :password, class: "form-control password", id: "password", required: true %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, class: "register-password"%>
        <%= f.password_field :password_confirmation, class: "form-control confirm_password", id: "confirm_password", required: true %>
      </div>
      <div class="form-group">
        <%= f.label :display_name %>
        <%= f.text_field :display_name, placeholder: "optional", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :avatar %><br>
        <%= f.file_field :remote_avatar_url, multiple: true %>
      </div>

      <%= f.submit "Submit", id: "small_submit_button-register", class: "btn" %>
    </div>
  <% end %>

</div>
