<div class="wrapper">
<h1 id="traveler-welcome">Welcome <%=set_name(@traveler)%> to your traveler's profile page</h1>

<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1" id="travel-info">
      <h3>Your trips:</h3>
      <% @traveler.bookings.each do |booking| %>
        <table class="traveler-bookings">
          <thead><h3><%= booking.trip_name %></h3></thead>
          <tr class="headings">
            <td>Listing</td>
            <td>Start Date</td>
            <td>End Date</td>
            <td>Status</td>
            <td>Price</td>
          </tr>

          <% booking.reservations.each do |reservation|%>
            <tr>
              <td><%= link_to reservation.listing.title, listing_path(reservation.listing) %></td>
              <td><%= reservation.start_date %></td>
              <td><%= reservation.end_date %></td>
              <td><%= reservation.status %></td>
              <td><%= number_to_currency(reservation.listing.price) %></td>
            </tr>
          <% end %>
          <tr>
            <td id="total" colspan="10">Total price: <%= number_to_currency(booking.calculate_total) %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
</div>
