  <h1>Welcome <%=set_name(@traveler)%> to your traveler's profile page</h1>

  Your trips:

  <% @traveler.bookings.each do |booking| %>
    trip_name: <%= booking.trip_name %>

      <% booking.reservations.each do |reservation|%>
        listing_title: <%= reservation.listing.title %>
        start date: <%= reservation.start_date %>
      end date: <%= reservation.end_date %>
        status: <%= reservation.status %>
        price: <%=number_to_currency(reservation.listing.price) %>
    Total price: <%= number_to_currency(booking.calculate_total) %>
      <% end %>
  <% end %>
