<h1>Your host had to cancel one of your reservations! :/</h1>

<p>
  Hello <%= @traveler.username %>, this is a courtesy email from Travel Home.<br>

  There has been an issue and the host (<%= @host.username %>) has canceled one of your reservations.<br>

  If you are logged in, you can find more details on your <%= link_to "traveler's page", traveler_url(@traveler) %>.<br>

  Otherwise, please <%= link_to "log in.", login_url %><br><br>

  Please direct all questions and hate-mail directly to the host: <%= @host.email_address %>. You will be refunded in full.<br><br>

  Thank you for using Travel Home and I hope you will find someone more accomodating.
</p>
