<% if !current_user.nil? && current_user.admin? %>
  <%= link_to "Back to Items", admin_items_path, class: "btn btn-info btn-small active"  %>
<% else %>
  <%= link_to "Back to Items", items_path, class: "btn btn-info btn-small active"  %>
<% end %>

<br>
<h1 id="item-title"><%= @item.name %></h1>

<p id="item-description"><%= @item.description %></p>

<p id="item-price"><%= number_to_currency(@item.price) %></p>

<figure class="default-pic">
  <%= image_tag @item.avatar.url %>
</figure>
<br>

<% if @item.retired? %>
  <p id="retired-item"><%= "#{@item.name} has been retired from the menu" %></p>
<% elsif current_user.nil? || current_user.default? %>
  <%= button_to  'Add to Cart', cart_path(item_id: @item), class: "btn btn-info btn-small active" %>
<% end %>
