<%= nav_bar static: :top, responsive: true do %>
    <ul class="navbar">
      <li>
        <% if current_user %>
          <%= link_to "Traveler Page", traveler_path(current_user) %>
          <%= link_to "Log out", logout_path, method: :delete, class: "btn-lg navbar-right"%>
        <% else %>
          <li><%= link_to "Sign Up", new_user_path, class: 'btn-lg navbar-right' %></li>
          <%= link_to "Log in", login_path, class: 'btn-lg navbar-right' %>
        <% end %>
      </li>
      <li class="logo"><a href="/"><%= image_tag "travel_home_logo.png", class: "navbar-left" %></a></li>
      <li><%= link_to "Cart", cart_path, class: 'btn-lg navbar-right' %></li>

      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="City...">
        </div>
        <!-- <span class="glyphicon glyphicon-search smaller" aria-hidden="true"></span> -->
        <button type="submit" class="btn">Search</button>
      </form>

    </ul>

<% end %>
