<%= nav_bar static: :top, responsive: true do %>
  <ul class="navbar">
    <li>
      <% if current_user %>
        <%= link_to "Log out", logout_path, method: :delete, class: "btn-lg navbar-right"%>
      <% else %>
        <a href="#" class='btn-lg navbar-right' data-toggle="modal" data-target='#modal-window-sign-up'>Sign Up</a>
        <a href="#" class='btn-lg navbar-right' id="login-button" data-toggle="modal" data-target='#modal-window'>Log In</a>
      <% end %>
    </li>

    <li class="logo"><a href="/"><%= image_tag "travel_home_logo.png", class: "navbar-left" %></a></li>

    <li>
      <%= link_to cart_path, class: 'btn-lg navbar-right', id: 'shopping_cart' do %>
        <%= @cart.listings_per_cart %><span id="shopping-cart" class="glyphicon glyphicon-shopping-cart smaller" aria-hidden="true"></span>
      <% end %>
    </li>
    <div class='dynamic_search' data-search="<%= { states: @locations }.to_json %>">
      <%= form_tag(listings_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "city/state/listing title", class: "typeahead"%>
        <button type="submit" class="btn"><span class="glyphicon glyphicon-search smaller" aria-hidden="true"></span></button>
      <% end %>
    </div>
  <% end %>
  </ul>

<div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= render "sessions/new" %>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-window-sign-up" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= render "users/new" %>
    </div>
  </div>
</div>
